body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 249, 247);
}

textarea {
    width: 66vw;
    font-size: 1.5rem;
    resize: none;
    overflow: hidden;
    border-color: transparent;
    background-color: transparent;
}
textarea:focus {
    outline: none !important;
    border-color: transparent;
    border-width: 0;
}
input {
    font-size: 5rem;
    border-color: transparent;
    border-width: 0;
    border-bottom-width: .2rem;
    text-align: right;
    background-color: transparent;
    font-family: serif;
    font-weight: bold;
}
input:focus {
    outline: none;
}
h1 {
    font-family: serif;
    font-size:5rem;
    margin: 0%;
    text-align: right;
    white-space: nowrap;
}
ul {

}
li {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
}
a {
    color: black;
    transition: scale .2s;
}
button {
    background-color: transparent;
    border-width: 0;
    margin: 0;
    text-decoration: underline;
    font-size: 3.5rem;

    transition: scale .2s;
}
a:hover, button:hover {
    cursor:pointer;
    scale: 1.1;
}
hr {
    width:66%;
}
p {
    text-align: right;
    margin: 0;
}
pre {
  width: 100%;        
  white-space: pre-wrap;
  word-wrap: break-word; 
  box-sizing: border-box;   
  font-family: inherit;
  font-size: 1.5rem;
}
.leftbuttons {
    gap: 20;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}
.headercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.maincontainer {
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.spacer {
    flex: 1;
}
.subheader {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 16.5vw;
    flex: 1;
}
.gridul {
      list-style: none; 
  padding: 0;
  margin: 0;
  width: 66vw;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 10px;
}
.centeredtext {
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    position: absolute;
}
