textarea {
    width: 66vw;
    height: 66vh;
    font-size: 24px;
    resize: none;
    border-color: transparent;
}
textarea:focus {
    outline: none !important;
    border-color: transparent;
    border-width: 0;
}
input {
    font-size: 64px;
    border-color: transparent;
    border-width: 0;
    border-bottom-width: 5px;
    text-align: center;
}
h1 {
    font-size:64px;
}
ul {
  list-style: none;       /* remove bullets */
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}