body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 249, 247);
}

textarea {
    width: 66vw;
    font-size: 24px;
    resize: none;
    overflow: hidden;
    border-color: transparent;
    background-color: transparent;
}
textarea:focus {
    outline: none !important;
    border-color: transparent;
    border-width: 0;
}
input {
    font-size: 100px;
    border-color: transparent;
    border-width: 0;
    border-bottom-width: 5px;
    text-align: right;
    background-color: transparent;
    font-family: serif;
    font-weight: bold;
    margin-right: 16.5vw;
    flex: 1;
}
input:focus {
    outline: none;
}
h1 {
    font-family: serif;
    font-size:100px;
    margin: 0%;
    margin-right: 16.5vw;
    text-align: right;
    flex: 1;
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  width: 66vw;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
li {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
a {
    color: black;

        transition: scale .2s;
}
button {
    background-color: transparent;
    border-width: 0;
    margin-left: 5vw;
    text-decoration: underline;
    font-size: 64px;

    transition: scale .2s;
}
a:hover, button:hover {
    cursor:pointer;
    scale: 1.1;
}
hr {
    width:33%;
}

.headercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20;
    margin-bottom: 20px;
    width: 100%;
}
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.spacer {
    flex: 1;
}