textarea {
    width: 66vw;
    height: 66vh;
    font-size: 24px;
    resize: none;
    border-color: transparent;
}
textarea:focus {
    outline: none !important;
    border-color: transparent;
    border-width: 0;
}
h1 {
    font-size:64px;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}