<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documents - Editing</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="maincontainer">
      <div class="headercontainer">
        <button id="home">Home</button>
        <input type="text" placeholder="Untitled Document" id="titleEntry">
      </div>


      <textarea name="mainEntry" id="mainEntry" autofocus></textarea>
      
    </div>
    <script src="/static/editing.js"></script>
  </body>
</html>
