<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Typing Site - Editing</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="headercontainer">
      <div class="leftbuttons">
        <button title="home" id="home">⌂</button>
        <button title="share" id="share">⌲</button>
        <button title="archive" id="archive">🖿</button>
      </div>
        <div class="spacer"></div>
        <div class="subheader">
          <input type="text" placeholder="Untitled Document" id="titleEntry">
          <p id="saveState">Not Saved</p>
        </div>
        
      </div>

    <div class="maincontainer">
      <textarea name="mainEntry" id="mainEntry"></textarea>
      
    </div>
    <script src="/static/editing.js"></script>
  </body>
</html>
