<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Documents</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<div class="headercontainer">
		<button id="create">+</button>
		<div class="spacer"></div>
		        <div class="subheader">
          <h1>A Typing Site</h1>
          <p>A Public Notebook Of Sorts</p>
        </div>

	</div>

	<hr>

	<ul id="documentList">

	</ul>

	<script src="/static/home.js"></script>
</body>

</html>
