<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mason Does Things</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Mason Does Things</h1>
    <p>Hi, I am Mason, an Australian who exists on the internet. 
        I do a lot of things like 
        <a href="https://www.instagram.com/__._.mason._.__/">photography</a>
    , <a href="https://mason.bearblog.dev">blogging</a> and programing, which you see here.</p>
    <p>This site is a dumping ground for some of my programing projects, everything is open source
        and you can see the code on my <a href="https://github.com/IAMME543">github</a>.
    </p>
    <ul>
        <li><a href="https://atypingsite.masondoesthings.com">A Typing Site</a></li>
        <li><a href="https://photosofmason.bearblog.dev/first-roll/">A masonry grid plugin for bearblog</a></li>
    </ul>
    <p>This was added with neovim</p>
</body>
</html>
